.apply-plot-header-background {
  background-image: url(../growing-tips-top-background.png); /* TODO: CHANGE THIS */
  height: 26rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}

.header-box {
  width: 48rem;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(93, 68, 0, 0.9);
}

.apply-body {
  width: 85%;
  margin: auto;
  color: #53401a;
  font-size: 1.8rem;
}

.apply-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 2.8rem;
  line-height: 3.3rem;
  color: #3f2e00;
}

.apply-flex {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}

/* .apply-form {
  width: 100%;
}
*/
.apply-info {
  padding-top: 5rem;
}

.apply-info-row {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
  height: auto;
  flex-wrap: wrap;
  margin: auto;
}

.apply-info-col {
  width: 19%;
  border: 1px solid #cebfa1;
  background-color: #f8f5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 2rem;
}

.apply-col-head {
  font-weight: 700;
  text-align: center;
  font-size: 2.1rem;
  padding-top: 3rem;
}

.apply-col-body {
  width: 90%;
  text-align: center;
}

/* .apply-info-row-1 {
  min-height: 15rem;
  height: auto;
} */

/* .apply-info-row-2 {
  min-height: 50rem;
  height: auto;
} */

.apply-info-single {
  border: 1px solid #cebfa1;
  background-color: #f8f5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25rem;
}

.apply-single-head {
  font-weight: 500;
}

.apply-form {
  margin-bottom: 9rem;
}

.apply-view-button .forminator-field p {
  margin-left: 6.3rem;
  margin-top: 2.7rem;
  background: #40804d;
  border-radius: 22.6914px;
  width: 17.3rem;
  height: 4.538rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apply-view-button .forminator-field p a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 35px;
}

/* dropdown border */
.apply-for-plot-inputs
  .forminator-field
  .select2
  .selection
  .select2-selection--single {
  border-color: #e8e0cf !important;
}

/* Checkbox box */
.apply-agreement-checkbox .forminator-field .forminator-checkbox {
  height: 6.4rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #e8e0cf;
  color: #40804d;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

/* Checkbox agree text */
.apply-agreement-checkbox .forminator-field .forminator-checkbox span {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  color: #40804d;
}

/* Checkbox agreement  spacing */
.apply-agreement-checkbox .forminator-field .forminator-label {
  padding: 0;
}

/* Radio button spacing */
.apply-radio-buttons label.forminator-radio {
  padding-top: 0rem;
}

@media only screen and (max-width: 1600px) {
  .apply-plot-email {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1300px) {
  .apply-plot-email {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1200px) {
  .apply-info-col {
    width: 24%;
  }
}

@media only screen and (max-width: 900px) {
  .apply-info-col {
    width: 31%;
  }
}

@media only screen and (max-width: 700px) {
  .apply-info-col {
    width: 45%;
  }
}

@media only screen and (max-width: 500px) {
  .apply-info-col {
    width: 90%;
  }
}
