@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #3F2E00;
    font-size: 1.8rem;
}
/*Plant Sale Information*/
#header-title{
    color: white;
    font-size: 3rem;
}
.title {
    font-size: 2.8rem;
    font-weight: 900;
}
.indent {
    padding-left: 5rem;
    padding-right: 5rem;
}

.center-header-box {
    position: absolute;
    padding: 8rem 13rem;
    background-color: rgba(93,68,0,.9);
}

/*Start CSS for event*/
.event-container {
    display: flex;
    margin: 0 5rem 0 5rem;
    padding: 0 7rem;
    border: 2px solid #CEBFA1;
    background-color: #F8F5EC;
    margin-bottom: 5rem;
}
.event-image-container {
    padding: 3rem 4rem 3rem 0;
    max-width: none;
}

.right-side-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.event-details {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 .5rem 0;
}

.event-title {
    font-size: 2.8rem;
    padding-bottom: .5rem;
}

.event-when {
    text-align: end;
}

.event-date {
    padding-bottom: 1rem;
}

.event-cost-join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}
.event-cost {
  font-size: 2rem;
}

.register-event {
    padding: 1rem 5rem;
    border-radius: 40px;
    border: 0 solid rgba(64,128,77,1); /*remove shadow*/
    background-color: rgba(64,128,77,1); /*Format allows easy change of opacity*/
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#join-event-btn {
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.give-space {
    height: 30rem;
}
/*html {*/
/*  font-size: 62.5%;*/
/*}*/
@media only screen and (max-width: 1300px) {
  html {
    font-size: 50%;
    
  }
  .event-img{
      max-width: 100%;
      max-height: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 50%;
    
  }
  .event-image{
    max-width: 200px;
    max-height: 240px;
  }
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 50%;
    
  }
  .event-image{
    max-width: 170px;
    max-height: 240px;
  
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
    
  }
  .event-image{
    max-width: 170px;
    max-height: 240px;
  
  }
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 50%;
    
  }
  .event-image{
    max-width: 70px;
    max-height: 240px;
  
  }
}