@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #3F2E00;
    font-size: 1.8rem;
}
#header-title{
    color: white;
    font-size: 3rem;
    text-align: center;
}

.contact-form {
    font-family: 'Roboto';
    position: absolute;
    width: 761px;
    height: 761px;
    left: 130px;
    top: 433px;
    background: #F8F5EC;
    mix-blend-mode: normal;
    border: 1px solid #53401A;
}

label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #53401A;
}

input[type=text], textarea {
    background: #E8E0CF;
    width: 761px;
}

input[type=submit] {
    position: absolute;
    width: 151.84px;
    height: 48.78px;
    left: 694.88px;
    top: 1115.06px;

    background: #40804D;
    border-radius: 30px;
}

#first-name {
    width: 323px;
    height: 20px;
}

.header-img {
    /*Flex box to allow moving the brown center box*/
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25rem; /*Just for scale, looks like 25rem is a good size*/
    background-size: cover; /*Take up the whole space*/
    background-image: url("../images/contact-header-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.center-header-box {
    /*Flex box to allow moving the button*/
    display: flex;
    flex-direction: column;

    position: absolute;
    padding: 4rem 10rem;
    background-color: rgba(93,68,0,.9);    
}

.plant-catalog-btn {
    align-self: center;
    margin: 1rem;
    padding: 1rem 3rem;
    border-radius: 40px;
    border: 0 solid rgba(64,128,77,1); /*remove shadow*/
    background-color: rgba(64,128,77,1); /*Format allows easy change of opacity*/
    width: fit-content;
    text-align: center;
    color: white;
}