/*banner*/
.banner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/home/home-banner.png);
  background-repeat: no-repeat;
  height: 63.7rem;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
}

.banner-text {
  color: #ffffff;
  font-family: Roboto;
  font-size: 2.1rem;
  width: 50%;
  padding-left: 10rem;
  font-weight: 600;
}

.banner-head {
  font-size: 4.8rem;
  padding-bottom: 2rem;
}

.apply-plot {
  background: #d39c07;
  border-radius: 30px;
  text-align: center;
  width: 18rem;
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  font-weight: 500;
}

/*events*/
.events {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.event-text {
  font-family: Roboto;
  font-size: 1.8rem;
  color: #53401a;
  width: 30%;
}

.upcoming {
  font-weight: 900;
  font-size: 2.4rem;
  color: #3f2e00;
  display: inline;
  padding-right: 1rem;
}

.small-link {
  color: #40804d;
}

.home-event-title {
  font-size: 3.6rem;
  color: #53401a;
  font-weight: bold;
}

.event-links {
  display: flex;
  justify-content: left;
  align-items: center;
}

.join {
  background: #40804d;
  border-radius: 30px;
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  width: 11.5rem;
  padding: 0.5rem 1.5rem;
  display: inline;
  margin-right: 2rem;
}

.event-img-container {
  width: 35%;
  display: flex;
  align-items: center;
}

.event-img {
  padding-left: 10rem;
  max-width: 100%;
  height: auto;
}

/*how to get started*/
.get-started {
  background-color: #f8f5ec;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  font-family: Roboto;
  font-size: 1.8rem;
  color: #53401a;
  padding-left: 7rem;
  padding-right: 7rem;
}

.get-started-steps {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 3rem;
}

.process-step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  font-weight: bold;
  text-align: center;
}

.process-step-divider {
  background-color: #cebfa1;
  width: 2px;
  height: 25rem;
}

.step-img {
  width: 15rem;
  margin: 0 auto; 
  max-height: 15rem;
}

.step-img-wrapper {
  width: 15rem;
  margin: 0 auto; 
  height: 15rem;
  align-items: baseline;
}

.step-text {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.step-link {
  background: #40804d;
  border-radius: 30px;
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem; 
}

.get-started-header {
  font-weight: 900;
  font-size: 2.8rem;
  color: #3f2e00;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

/*news*/

.news {
  width: 90%;
  background: #f8f5ec;
  border: 1px dashed #cebfa1;
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: Roboto;
  font-size: 2.4rem;
  color: #53401a;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.news-img {
  padding-left: 3rem;
  max-width: 100%;
  height: auto;
}

.news-text {
  margin-top: 1rem;
  padding-left: 4rem;
  padding-right: 3rem;
}

.latest-news {
  font-weight: 900;
  color: #3f2e00;
  padding-bottom: 1rem;
  font-size: 2.5rem;
}

.news-head {
  font-weight: bold;
  font-size: 3.6rem;
  color: #53401a;
}

.interested {
  font-weight: 900;
  color: #3f2e00;
  margin: 1.5rem 0; 
}

.input-fields {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

.input-fields input[type="text"] {
  border: 1px solid #cebfa1;
  background: #f8f5ec;
  width: 45%;
  padding: 1rem;
  font-size: 2rem;
}

input[type="submit"] {
  background: #40804d;
  border-radius: 30px;
  color: #ffffff;
  font-size: 2.1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 2rem;
  box-shadow: none;
  border: none;
}

@media only screen and (max-width: 400px) {
  .banner {
    height: 13.55rem;
  }

  .banner-text {
    font-size: 0.7rem;
    width: 90%;
    padding-left: 1rem;
  }
  .banner-head {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
  }
  .apply-plot {
    margin-top: 0.5rem;
    width: 9rem;
  }

  .events {
    flex-direction: column;
    align-items: center;
  }
  .event-text {
    font-size: 0.9rem;
    width: 90%;
  }
  .upcoming {
    font-size: 1.8rem;
  }
  .home-event-title {
    font-size: 2.4rem;
  }
  .join {
    font-size: 1.4rem;
    width: 8rem;
    padding: 0.3rem 1.5rem;
  }
  .event-img-container {
    width: 90%;
    padding-top: 2.5rem;
  }
  .event-img {
    padding-left: 0rem;
  }

  .get-started {
    font-size: 1rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .get-started-header {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .get-started-steps {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  .process-step {
    width: 90%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    align-items: center;
    text-align: none;
  }
  .process-step-divider {
    display: none;
  }
  .step-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 33%;
    text-align: center;
  }
  .step-link {
    font-size: 1.5rem;
    width: 15rem;
  }
  .step-img {
    padding-top: 0rem;
  }

  .news {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
  }
  .news-img {
    padding-left: 0rem;
    max-width: 90%;
    padding-bottom: 2rem;
  }
  .news-text {
    padding-left: 0rem;
    padding-right: 0rem;
    width: 90%;
  }
  .news-head {
    font-size: 2rem;
  }
  .input-fields {
    flex-direction: column;
    padding-top: 1rem;
  }
  input[type="text"] {
    width: 70%;
    margin-bottom: 1rem;
  }
  input[type="submit"] {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

/*
apply for plot
*/
