/* body{
    position: relative;
    width: 90.063rem;
    height: 171.688rem;
    overflow-y: scroll;
    background: #FFFFFF;
    display: flex;
} */

.description-header{
    font-family: 'Roboto', sans-serif;
    
    font-style: normal;
    font-weight: 900;
    font-size: 1.1rem;
    line-height: 1.875rem;
    /* or 143% */

    color: #261E0D;
}
.descriptions{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 1.875rem;
    /* or 143% */
    
    color: #261E0D;
    
    
}
.west-park{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.75rem;
    line-height: 2.063rem;
    color: #3F2E00;

    position: absolute;
    width: 43rem;
    height: 2.375rem;
    left: 8.125rem;
    top: 23.313rem;         
}
.west-park-description{
    position: absolute;
    width: 48rem;
    height: 7.75rem;
    left: 8.125rem;
    top: 27.063rem;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.875rem;
    /* or 167% */

    color: #53401A;
}
#map-of-garden{
    position: absolute;
    width: 42.25rem;
    height: 2.375rem;
    left: 8.125rem;
    top: 36.938rem;
}

#west-park-map{
    position: absolute;
    width: 42.25rem;
    height: 2.375rem;
    left: 17rem;
    top: 37rem;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.875rem;
    /* or 143% */
    color: #40804D;
}

.coordinator-positioning{
    position: absolute;
    width: 40rem;
    height: 2.375rem;
    left: 8.125rem;
    top: 41rem;
}
.soil-position{
    position: absolute;
    width: 43.75rem;   
    height: 3.125rem;
    left: 8.188rem;
    top: 46.688rem;
}
.gardener-position{
    position: absolute;
    width: 46.875rem;
    height: 3.188rem;
    left: 8.125rem;
    top: 52.688rem;
}
.individual-plots-position{
    position: absolute;
    width: 45rem;
    height: 5.75rem;
    left: 8.313rem;
    top: 58.313rem;
}
.garden-main-pos{
    position: absolute;
    width: 43.75rem;
    height: 5.563rem;
    left: 8.313rem;
    top: 67.875rem;
}
#light-color{
    color: #53401A;
}
.water-pos{
    position: absolute;
    width: 45.625rem;
    height: 6.813rem;
    left: 8.188rem;
    top: 77.188rem;    
}
.water-sentence{
    position: absolute;
    width: 48.813rem;
    height: 6.813rem;
    left: 8.188rem;
    top: 84.813rem
}
.compost-pos{
    position: absolute;
    width: 43.75rem;
    height: 8.563rem;
    left: 8.125rem;
    top: 88.875rem;
}
.compost-sentence{
    position: absolute;
    width: 45rem;
    height: 8.563rem;
    left: 8.125rem;
    top: 96.875rem;
}
.hay-pos{
    position: absolute;
    width: 45.625rem;
    height: 7.313rem;
    left: 8.125rem;
    top: 102.188rem;
}
.tools-pos{
    position: absolute;
    width: 43.75rem;
    height: 3.438rem;
    left: 8.313rem;
    top: 113.625rem;    
}
.disposal-pos{
    position: absolute;
    width: 48.813rem;
    height: 1.625rem;
    left: 8.125rem;
    top: 119.625rem;
}
.rocks-pos{
    position: absolute;
    width: 45rem;
    height: 3.438rem;
    left: 8.125rem;
    top: 123.813rem;

}
.abandoned-pos{
    position: absolute;
    width: 44.375rem;
    height: 5.813rem;
    left: 8.438rem;
    top: 129.813rem;
}
.communication-pos{
    position: absolute;
    width: 43.125rem;
    height: 4.313rem;
    left: 8.125rem;
    top: 139.375rem;
}
.clean-up-pos{  
    position: absolute;
    width: 43.75rem;
    height: 8.375rem;
    left: 8.125rem;
    top: 146.25rem;
}
.rectangle{

    position: absolute;
    width: 23.063rem;
    height: 79.938rem;
    left: 58.813rem;
    top: 27.063rem;

    background: #F8F5EC;
    mix-blend-mode: normal;
    border:1px solid #CEBFA1;

}
.rectangle-words{
    position: absolute;
    width: 20.063rem;
    height: 76.938rem;
    left: 60.313rem;
    top: 27.688rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.313rem;
    line-height: 1.563rem;
    color: #3F2E00;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 21.875rem;


}
#garden-picture{
    position: absolute;
    width: 90.438rem;
    height: 16.25rem;
    left: -0.375rem;
    top: 5.063rem;
    /* Border */
    border: 1px solid rgba(206, 191, 161, 0.5);
    box-sizing: border-box;
}
#brown-rectangle{
    position: absolute;
    width: 30rem;
    height: 12.5rem;
    left: 30.063rem;
    top: 6.938rem;

    background: rgba(93, 68, 0, 0.9);
}
#garden-sites{

    position: absolute;
    width: 28.563rem;
    height: 3.063rem;
    left: 30.813rem;
    top: 9.375rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: 56.25rem;
    font-size: 1.875rem;
    line-height: 2.188rem;
    text-align: center;

    color: #FFFFFF;
}
#green-button{
    position: absolute;
    width: 13.125rem;
    height: 3.438rem;
    left: 38.438rem;
    top: 13.438rem;

    background: #40804D;
    border-radius: 1.875rem;
}
#apply{
    position: absolute;
    width: 8.188rem;
    height: 1.473rem;
    left: 40.875rem;
    top: 14.419rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: 56.25rem;
    font-size: 1.125rem;
    line-height: 1.313rem;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

