

.master-composter-item-container {
    width: 86%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    padding-bottom: 4rem;
    
  }
  .master-composter-item-container>* {
    flex: 0 0 23%;
    margin: 1%;
  }
  
  
  .master-composter-item-box {
    font-family: Roboto;
    height: 7.1rem;
    width: 100%;
  
    background: #e8e0cf;
    border: 1px dashed #cebfa1;
    box-sizing: border-box;
    border-radius: 10px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 2.1rem;
    line-height: 2.461rem;
    color: #3f2e00;
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
    
    /*
    margin-right: 2.master-composter-4rem;
    margin-left: 2.master-composter-4rem;
    */
    
  }
  
  .master-composter-header-background {
    background-image: url(../images/header-images/master-composter-header-img.png);
    height: 26rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
  
  .master-composter-header-box {
    width: 48rem;
    height: 20rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    background: rgba(93, 68, 0, 0.9);
  }
  
  .master-composter-our-people-button-header-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
    color: #ffffff;
  }
  
  .master-composter-connect-button {
    margin-top: 2rem;
    width: 21.2rem;
    height: 5.5rem;
    left: 61.4rem;
    top: 21.5rem;
  
    background: #40804d;
    border-radius: 3rem;
  
    /*text*/
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.1rem;
  
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
  }
  
  .master-composter-no-style-link {
    text-decoration: none;
  }
  
  .master-composter-header-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 2.8rem;
    line-height: 3.3rem;
    color: #3f2e00;
    /* padding-left: 13rem; */
    padding-left: 8%;
    margin-bottom: 2rem;
  }
  
  .master-composter-main-description {
    background: #f8f5ec;
    border: 0.1rem dashed #cebfa1;
    box-sizing: border-box;
  
    margin-top: 2.3rem;
    /**margin-bottom: 1.7rem;**/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.4rem;
  
    /* or 133% */
  
    color: #53401a;
    margin-bottom: 5.5rem;
  }
  
  .master-composter-large-box {
    display: flex;
    flex-direction: row;
    width: 23.4rem;
    align-items: center;
    justify-content: center;
  }
  

  .master-composter-large-box-sidebar {
    width: 3.2rem;
    height: 26.7rem;
    background: #CEBFA1;
    /*transform: rotate(-90deg) translate(-11.7rem, 11.7rem);*/
    
  }

  .master-composter-large-box-textbox{
    width: 20.2rem;
    height: 26.544rem;
    background: #E8E0CF;
  }


  .master-composter-small-box {
    display: flex;
    flex-direction: column;
    width: 23.4rem;
    align-items: center;
    justify-content: center;
  }

  .master-composter-small-box-description {
    width: 23.4rem;
    height: 10rem;
    background: #F8F5EC;
    border: 1px dashed #CEBFA1;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    color: #53401A;
    padding-top: 2.2rem;
          
  }

  .master-composter-small-box-link {
    width:23.4rem;
    height: 4.5rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
    background: #40804D;
    display: flex;
    justify-content: center;  
    align-items: center;

  }

  .master-composter-contact-box {
    display: flex;
    flex-direction: column;
    width: 23.4rem;
    align-items: center;
    justify-content: center;
  }

  .master-composter-contact-box-name {
    height: 4.7rem;
    background: #F8F5EC;
    border: 1px dashed #CEBFA1;
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    color: #53401A;

    display: flex;
    align-items: center;
    justify-content: center;
    width:23.4rem;
  }

  .master-composter-contact-box-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F8F5EC;
    border: 1px dashed #CEBFA1;
    box-sizing: border-box;
    width:23.4rem;
    height: 9rem;
  }

  .master-composter-contact-box-title {
    padding-top: 1.3rem;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #53401A;
  }

  .master-composter-contact-box-email {
    padding-top: 1.5rem;
    
    font-family: Roboto;

    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #53401A;
  }

  .master-composter-contact-box-link {
    width:23.4rem;
    height: 4.5rem;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
    background: #40804D;
    display: flex;
    justify-content: center;  
    align-items: center;
  }


.hgpage_title, .rpspage_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #53401A;
  padding-top: 5.694rem;
}
.hgpage_description, .rpspage_description{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #53401A;
  padding-top: 1rem;
  
}

.rpspage_title {
  padding-top: 1.462rem;
}

.rpspage_description {
  padding-top: 1.362rem;
}

@media only screen and (max-width: 1182px) {
  .master-composter-item-container>* {
    flex: 0 0 31%;
    margin: 1%;
  }
}

@media only screen and (max-width: 869px) {
  .master-composter-item-container>* {
    flex: 0 0 48%;
    margin: 1%;
  }

  .master-composter-header-text {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .master-composter-header-box {
    width: 60%;
  }

  .master-composter-our-people-button-header-text{
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .master-composter-main-description {
    line-height: 2.1rem;
  }
}


@media only screen and (max-width: 566px) {
  .master-composter-item-container>* {
    flex: 0 0 100%;
    justify-content: center;
  }
  
}