body {
    font-family: Roboto;
}
/*Plant Sale Information*/
#header-title{
    color: white;
    font-size: 30px;
}
.title {
    font-size: 28px;
    color: #3F2E00;
    font-weight: 900;
}
/*header img -- placeholder for now*/
.header-img {
    /*Flex box to allow moving the brown center box*/
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25rem; /*Just for scale, looks like 25rem is a good size*/
    background-size: cover; /*Take up the whole space*/
    background-image: url("../new-placeholder.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua; /*Should never show if image is well sized*/
    
}
.center-header-box {
    /*Flex box to allow moving the button*/
    display: flex;
    flex-direction: column;

    position: absolute;
    padding: 4rem 10rem;
    background-color: rgba(93,68,0,.9);    
}

.plant-catalog-btn {
    align-self: center;
    margin: 1rem;
    padding: 1rem 3rem;
    border-radius: 40px;
    border: 0 solid rgba(64,128,77,1);
    background-color: rgba(64,128,77,1); /*Format allows easy change of opacity*/
    width: fit-content;
    font-size: 18px;
    text-align: center;
    color: white;
}
.indent {
    padding-left: 10rem;
    padding-right: 10rem;
}
.main-page {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}
.description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #CEBFA1;
    border-bottom: 1px solid #CEBFA1;
    background-color: #F8F5EC;
    font-size: 18px;
    color: #3F2E00;
}
.sale-container {
    margin: 3rem 10rem 3rem 10rem;
    padding-bottom: 3rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #CEBFA1;
    background-color: #F8F5EC;
}
/*Fix the headers so that they are better centered over their contents*/
.sale-headers {
    display: flex;
    justify-content: space-around;

    font-size: 21px;
    color: #3F2E00;
}
.sale-contents {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #3F2E00;
}
.dates {
    display: flex;
    justify-content: space-around;
    border-right: 2px solid #3F2E00;
    width: 33%;
}
.sizes {
    border-left: 2px solid #3F2E00;
    width: 33%;
    text-align: center;
}
.prices {
    text-align: center;
}
.sale-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organic-title {
    font-size: 24px;
    color: #3F2E00;
    padding-bottom: 2rem;
}
.organic-paragraph {
    font-size: 18px;
    color: #3F2E00;
}






.disclaimer-title {
    font-size: 24px;
    color: #3F2E00;
}
.disclaimer-body {
    font-size: 18px;
    color: #3F2E00;
}