@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    color: #3F2E00;
    font-size: 1.8rem;
}
/*Plot Guidelines*/
#guidelines-header-title{
    color: white;
    font-size: 3rem;
    text-align: center;
}

#guidelines-header-img {
    /*Flex box to allow moving the brown center box*/
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25rem; /*Just for scale, looks like 25rem is a good size*/
    background-size: cover; /*Take up the whole space*/
    background-image: url("../plot-guidelines-header.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua; /*Should never show if image is well sized*/
    
}
.guidelines-center-header-box {
    /*Flex box to allow moving the button*/
    display: flex;
    flex-direction: column;

    position: absolute;
    padding: 4rem 12rem;
    background-color: rgba(93,68,0,.9);
}
.guidelines-indent {
    padding-left: 10rem;
    padding-right: 10rem;
}
.plant-guidelines-btn {
    align-self: center;
    margin: 1rem;
    padding: 1rem 3rem;
    border-radius: 40px;
    border: 0 solid rgba(64,128,77,1); /*remove shadow*/
    background-color: rgba(64,128,77,1); /*Format allows easy change of opacity*/
    width: fit-content;
    text-align: center;
    color: white;
}

#project-grow-guidelines {
    border-top: 1px solid #CEBFA1;
    border-bottom: 1px solid #CEBFA1;
    background-color: #F8F5EC;
}
#guidelines-little-spacer {
    padding: .75rem 0;
}

#guidelines-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#guidelines-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 3rem;
}
#guidelines-row-last {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3rem;
}
.guidelines-story-box {
    text-align: center;
    border: 1px dashed #CEBFA1;
    background-color: #E8E0CF;
    padding: 2rem 0;
    border-radius: 12px;
    width: 30%;
    cursor: pointer;
}
.custom-story-box {
    text-align: center;
    border: 1px dashed #CEBFA1;
    background-color: #E8E0CF;
    padding: 2rem 0;
    margin-left: 8rem;
    border-radius: 12px;
    width: 30%;
    cursor: pointer;
}
.open-story-box {
    color: white;
    border: none;
    background-color: #40804D;
    border-radius: 24px 24px 0 0; 
    width: 30%;
    padding: 2rem 0;
    text-align: center;
}
/*Need placeholders for js to change/hide display*/
.guidelines-hide {
    display: none;
}
.guidelines-show {
    display: flex;
}
.guidelines-left {
    border-radius: 0 16px 16px 16px;
}
.guidelines-middle {
    border-radius: 16px 16px 16px 16px;
}
.guidelines-right {
    border-radius: 16px 0 16px 16px;
}

.guidelines-expansion {
    border: 2px solid #40804D;
    background-color: #F8F5EC;
    margin: 0 10rem;
    padding: 2rem;
    width: 100%;
}

.guideline p {
    padding-bottom: .75rem;
}
.guideline a {
    color: #40804D;
}
#weed-examples {
    display: flex;
}
#weed-fungicides {
    padding-right: 5rem;
}

#guidelines-note-to-all {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

@media screen and (max-width: 700px) {
    .open-story-box {
        width: unset;
    }
    .guidelines-story-box {
        width: unset;
    }
    #guidelines-row {
        display: unset;
    }
    .guidelines-indent {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}