@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*Obviously body will affect other people's css files, will need to revisit*/
body {
    font-family: 'Roboto', sans-serif;
    color: #3F2E00;
    font-size: 1.8rem;
}
/*wwd - What We Do*/
#wwd-header-title{
    color: white;
    font-size: 3rem;
}
.wwd-title {
    font-size: 2.8rem;
    font-weight: 900;
}

.wwd-header-img {
    /*Flex box to allow moving the brown center box*/
    display: flex;
    justify-content: center;
    align-items: center;

    height: 25rem; /*Just for scale, looks like 25rem is a good size*/
    background-size: cover; /*Take up the whole space*/
    background-image: url("../images/what-we-do-banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: aqua; /*Should never show if image is well sized*/
    
}
.wwd-center-header-box {
    /*Flex box to allow moving the button*/
    display: flex;
    flex-direction: column;

    position: absolute;
    padding: 4rem 10rem;
    background-color: rgba(93,68,0,.9);    
}

.wwd-newsletter-btn {
    align-self: center;
    margin: 1rem;
    padding: 1rem 3rem;
    border-radius: 40px;
    border: 0 solid rgba(64,128,77,1); /*remove shadow*/
    background-color: rgba(64,128,77,1); /*Format allows easy change of opacity*/
    width: fit-content;
    text-align: center;
    color: white;
}
.wwd-indent {
    padding-left: 10rem;
    padding-right: 10rem;
}
.wwd-new-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.wwd-description {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #CEBFA1;
    border-bottom: 1px solid #CEBFA1;
    background-color: #F8F5EC;
}
.wwd-pg-space {
    padding: .75rem 0;
}
#wwd-super-title {
    font-size: 4rem;
    font-weight: 900;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#wwd-flex-container {
    display: flex;
}
#wwd-left-side-container {
    max-width: 46%;
}
#wwd-right-side-container {
    max-width: 46%;
}
.wwd-right-align {
    text-align: end;
}