@font-face {
  font-family: Roboto;
  src: url(Fonts/Roboto/Roboto-Regular.ttf)
}

/* START Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  font-size: 62.5%;
}
/* END Reset */
/* 
  Put styles here 
*/

.rental-information-subsection {
  width: 85%;
  margin: auto;
  padding-top: 1.7rem;
}

.rental-information-subheader {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;

  color: #3F2E00;
}

.rental-info-page-header-background {
  background-image: url(images/Rectangle\ 10.png);
  height: 26rem;
  padding-top:3rem;
}

.rental-info-header-box {
  width: 48rem;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(93, 68, 0, 0.9);
}

.rental-info-header-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;


  color: #FFFFFF;

}

.rental-info-garden-sites-button {
  margin-top: 1rem;
  width: 212px;
  height: 55px;
  left: 614px;
  top: 215px;

  background: #40804D;
  border-radius: 30px;
  
  /*text*/
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.rental-info-garden-sites-button-link {
  text-decoration: none;
}

.rental-information-important-dates-section {
  background: #F8F5EC;
  border: 1px dashed #CEBFA1;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2.3rem;
  /**margin-bottom: 1.7rem;**/
  
}

.important-dates-header {
  padding-top: 3.2rem;
  margin: auto;
  width: 85%;
}

.important-dates-timeline-container {
  height: 35.9rem;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;

  font-family: Roboto;
  color: #53401A;

}



.important-dates-timeline-item {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  text-align: right;
}

.important-dates-timeline-item-small {
  width: 16.5rem;
}

.important-dates-timeline-item-medium {
  width: 22.3rem;
}

.important-dates-timeline-item-large {
  width: 31.2rem
}
 
.important-dates-date {
  font-style: normal;
  font-weight: bold;
  font-size: 2.1rem;
  line-height: 2.5rem;
  text-align: center;
}

.important-dates-description {
  font-style: normal;
  font-weight: 40;
  font-size: 1.8rem;
  line-height: 2.19rem;
  text-align: center;
}

.important-dates-icons {
  width: 8rem;
  height: 6.9rem;
}




.plot-types-container, .open-closing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2.3rem;
}

.plot-types-item, .open-closing-types-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #F8F5EC;
  border: 1px dashed #CEBFA1;
  box-sizing: border-box;
  height: 27.2rem;
  width: 28rem;
}

.plot-types-item-header {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: #53401A;
  height: 4.327rem;
  padding: 3.045rem;
}

.plot-type-info, .rental-info-plain-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  color: #53401A;
}

.open-closing-container {
margin-bottom: 2.6rem;
}

.open-closing-types-item {
 width: 56.3rem; 
 height: 21.7rem;
}

.open-closing-plain-text {
  margin-top: 2.3rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;


}

.details-li {
  
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 24px;
}